<form action="/links" method="post">
  Title: <input type="text" name="title">
  URL: <input type="text" name="url">
  Tags: <input type="text" name="tag_name">
  <input type="submit" name="Submit" value="Submit">
</form>
