<h1>Links</h1>

<ul>
  <% @links.each do |link| %>
    <li>Title: <%= link.title %></li>
    <li>URL: <%= link.url %></li>
    <li>Tags: <% @tags.each do |tag| %> <%= tag.tag_name %> <% end %></li>
  <% end %>
</ul>
